.introduction-text {
  font-size: 18px;
  text-align: left;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.board-row:nth-child(3) {
  border-bottom: 3px solid #669;
}

.board-row:nth-child(6) {
  border-bottom: 3px solid #669;
}

.status {
  margin-bottom: 10px;
}

.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  cursor: default;
}

.cell.error {
  color: #ff3938;
}

.cell:focus {
  outline: none;
  background: #fbc408;
}

.cell:nth-child(3) {
  border-right: 3px solid #669;
}
.cell:nth-child(6) {
  border-right: 3px solid #669;
}

.kbd-navigation .cell:focus {
  background: #ddd;
}

.cell-editable {
  color: #07a4af;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  justify-content: center;
  display: flex;
  margin-left: 20px;
}

.game-board {
  border-block-color: black;
  border-collapse: collapse;
  background-color: #ffffff;
  border: #669 solid 2px;
}

.game-board > div {
  margin-right: 1px;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.timer {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  user-select: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  background-color: #07a4af;
}

.control-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
