html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.card {
  width: 100%;
  max-width: 1000px;
  padding: 30px;
  box-shadow: 1px 1px 6px 2px rgba(148, 144, 144, 0.47);
  border-radius: 10px;
  background-color: #fff;
}

.start-button {
  width: 40% !important;
  height: 56px !important;
  background: #fbc408 !important;
  color: #fff !important;
  border: 0 !important;
  border-radius: 4px !important;
}

.how-to-play {
  font-size: 18px;
}

.logo-text {
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
}

@media (max-width: 700px) {
  .wrapper {
    padding: 10px;
  }
  .logo-text {
    font-size: 12px;
  }
  .card {
    padding: 10px;
  }
  .start-button {
    width: 100% !important;
  }
}
